version: "3.7"
services:
    app:
        build:
            context: .
            dockerfile: ./Dockerfile
        container_name: laravel-app
        volumes:
            - ./:/var/www/html
        environment:
            - TZ=Asia/Bangkok
        networks:
            - laravel-network

    nginx:
        image: nginx:alpine
        container_name: laravel-nginx
        ports:
            - "10001:80"
        environment:
            - TZ=Asia/Bangkok
        volumes:
            - .:/var/www/html
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app
        networks:
            - laravel-network

networks:
    laravel-network:
        driver: bridge
